   <app-header></app-header>
    
    
    <img class="left-flowers" src="../../assets/flowers-left.png" alt="">
    <img class="right-flowers" src="../../assets/flowers-right.png" alt="">
    <img class="left-human" src="../../assets/men.png" alt=""> 
    
    
    
    <div class="main-container" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
        <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="14" nzXl="16" >
            

                <div nz-row >
                    <div nz-col style="background-color: white; " nzSpan="12" nzType="flex" nzJustify="center" nzAlign="middle">
                        <img class="hot-tour" src="../../assets/hot-tour.jpg" alt="" class="hot-turs-img"> 
                    </div>


                    <div nz-col style=" padding-left: 25px;" nzSpan="10" nzType="flex" nzJustify="center" nzAlign="middle">
                        
                        <div nz-row style=" padding-bottom: 10px; width: 100%;" nzSpan="12"  nzType="flex" nzAlign="middle">
                            <div nz-col style="background-color: white; width: 100%;  padding-left: 10px;  padding-top: 5px;" nzSpan="12" nzType="flex" nzJustify="center" nzAlign="middle">
                                <h3>Название отеля</h3>
                                <div nz-row>
                                    <div nz-col style="padding-top: 5px;" nzMd="10" nzLg="10" nzXl="10"> 
                                        <nz-rate [ngModel]="2" nzDisabled></nz-rate>
                                    </div>
                                    <div nz-row style="padding-top: 10px; padding-bottom: 10px;" nzMd="12" nzLg="12" nzXl="12">
                                         <i nz-icon style="color: rgb(122, 122, 122);" nzType="environment" nzTheme="outline"></i>
                                         <span style="color: rgb(122, 122, 122); padding-left: 5px; ">Турция, Сиде, Чолаклы</span>
                                    </div>
                                </div>
                                <h3>Преимущества отеля</h3>
                                <div nz-row>
                                    <i nz-icon style="padding: 10px; " nzType="wifi" nzTheme="outline"></i>
                                    <i nz-icon style="padding: 10px; " nzType="scissor" nzTheme="outline"></i>
                                    <i nz-icon style="padding: 10px; " nzType="car" nzTheme="outline"></i>
                                </div>
                            </div>
                        </div>


                          


                        <div nz-row style=" padding-bottom: 10px; padding-top: 10px; width: 100%;" nzSpan="12"  nzType="flex" nzAlign="middle">
                            <div nz-col style="background-color: white; width: 100%;  padding-left: 10px;  padding-top: 5px; " nzSpan="12" nzType="flex" nzJustify="center" nzAlign="middle">
                                <h3>Информация о перелёте</h3>
                                
                            </div>
                        </div>

                        <div nz-row style=" padding-bottom: 10px; padding-top: 10px; width: 100%;" nzSpan="12"  nzType="flex" nzAlign="middle">
                            <div nz-col style="background-color: white; width: 100%;  padding-left: 10px;  padding-top: 5px;" nzSpan="12" nzType="flex" nzJustify="center" nzAlign="middle">
                                <div nz-row>
                                    <div nz-col style="padding-top: 5px; padding-bottom: 5px;" nzMd="10" nzLg="10" nzXl="10"> 
                                        <h3>Цена за 2</h3>
                                    </div>
                                    <div nz-col style="padding-top: 5px; padding-bottom: 5px;" nzMd="10" nzLg="10" nzXl="10">
                                         <h3>92586 ₽</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div nz-row style="padding-top: 10px; width: 100%;" nzSpan="12"  nzJustify="center" nzType="flex" nzAlign="middle">
                            <div nz-col style="background-color: white; width: 100%; padding-top: 5px; padding-bottom: 5px;" nzSpan="12" nzType="flex" nzJustify="center" nzAlign="middle">
                                <h3 style="text-align: center;">Забронировать</h3>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
            
    </div>
    