<app-header></app-header>


<img class="left-flowers" src="../../assets/flowers-left.png" alt="">
<img class="right-flowers" src="../../assets/flowers-right.png" alt="">
<img class="left-human" src="../../assets/men.png" alt="">



<div class="main-container" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
    <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="14" nzXl="16">

        <div nz-row style="background-color: white;">
            <div nz-col style="background-color: white; " nzSpan="12" nzType="flex" nzJustify="center" nzAlign="middle">
                <img class="hot-tour" src="../../assets/hot-tour.jpg" alt="" class="hot-turs-img">
            </div>

            <div nz-col style=" padding: 25px;" nzSpan="12" nzType="flex" nzJustify="center" nzAlign="middle">

                <div nz-row style=" padding-bottom: 2   0px; width: 100%;" nzSpan="12" nzType="flex" nzAlign="middle">
                    <div nz-col style="background-color: white; width: 100%;  padding-left: 10px;  padding-top: 5px;"
                        nzSpan="12" nzType="flex" nzJustify="center" nzAlign="middle">
                        <h3>{{list_tours.hotel.name}}</h3>
                        <div nz-row>
                            <div nz-col style="padding-top: 5px;" nzMd="10" nzLg="10" nzXl="10">
                                <nz-rate [ngModel]="list_tours.stars" nzDisabled></nz-rate>
                            </div>
                            <div nz-row style="padding-top: 10px; padding-bottom: 10px;" nzMd="12" nzLg="12" nzXl="12">
                                <i nz-icon style="color: rgb(122, 122, 122);" nzType="environment"
                                    nzTheme="outline"></i>
                                <span
                                    style="color: rgb(122, 122, 122); padding-left: 5px; ">{{list_tours.hotel.address}}</span>
                            </div>
                        </div>
                        <h3>Преимущества отеля</h3>
                        <div nz-row>
                            {{list_tours.amenities[0].name}}
                            <nz-divider nzType="vertical"></nz-divider>
                            {{list_tours.amenities[1].name}}
                            <nz-divider nzType="vertical"></nz-divider>
                            {{list_tours.amenities[2].name}}
                        </div>
                    </div>
                </div>

                <div nz-row style=" padding-bottom: 20px; padding-top: 10px; width: 100%;" nzSpan="12" nzType="flex"
                    nzAlign="middle">
                    <div nz-col style="background-color: white; width: 100%;  padding-left: 10px;  padding-top: 5px;"
                        nzSpan="12" nzType="flex" nzJustify="center" nzAlign="middle">
                        <div nz-row>
                            <div nz-col style="padding-top: 5px; padding-bottom: 5px;" nzMd="10" nzLg="10" nzXl="10">
                                <h3 style="font-size: 15px;">Цена: &nbsp;&nbsp; <span
                                        style="font-size: 20px; font-weight: bolder;">{{list_tours.sum}} ₽</span> </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-row style="padding-top: 20px; width: 100%;" nzSpan="12" nzJustify="center" nzType="flex"
                    nzAlign="middle">
                    <div nz-col class="btn-container-for-cart" nzSpan="12">
                        <button nz-button class="button-on-tour">
                            Забронировать
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>