<div nz-row class="header-block">
    <div nz-col>
        <div style="display: flex; flex-direction: row; justify-content: space-between" >
            <div style="display: flex;">
                <span style="padding-right: 5px;">
                    <img class="logo" src="../../assets/logo2.png">
                </span>
                <nz-divider class="divider-on-header" nzType="vertical"></nz-divider>
                <span class="logo-title">Путешествия</span>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center; padding-right: 10px; ">
                <div *ngIf="hamburger">
                    <button
                    nz-button
                    nz-popover
                    [(nzVisible)]="visible"
                    nzPopoverTrigger="click"
                    [nzPopoverContent]="contentTemplate"
                    nzPopoverPlacement="bottom"
                    >
                        <i nz-icon nzType="menu" nzTheme="outline"></i>
                    </button>
                    <ng-template #contentTemplate>
                        <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
                            <li nz-menu-item>
                              <i nz-icon nzType="schedule" nzTheme="outline"></i>
                              <span>Подбор туров</span>
                            </li>
                            <li nz-menu-item>
                                <i nz-icon nzType="environment" nzTheme="outline"></i>
                              <span>Карты</span>
                            </li>
                            <li nz-menu-item>
                                <i nz-icon nzType="login" nzTheme="outline"></i>
                              <span>Войти</span>
                            </li>
                          </ul>
                    </ng-template>


                </div>
                <div *ngIf="buttonsonheader">
                    <button nz-button class="button-on-header">
                        <i nz-icon nzType="schedule" nzTheme="outline"></i>
                        Подбор туров
                    </button>
                    <button nz-button class="button-on-header">
                        <i nz-icon nzType="environment" nzTheme="outline"></i>
                        Карты
                    </button>
                    <button nz-button class="button-on-header">
                        <i nz-icon nzType="login" nzTheme="outline"></i>
                        Войти
                    </button>
                </div>
            </div>
        </div>
    </div> 
    
</div>