nz-page-header {
    border: 1px solid white;
    background-color:  white;
}
.header-block{
    padding: 10px 20px 10px 20px;
    background-color:  white;
}

.button-on-header{
    border: 0;
    border-color: none; 
    margin-right: 20px;
}
.button-on-header:hover{
    border-radius: 30px;
    background-color: #03cc61;
    color: white;
}
.divider-on-header{
    background-color:  #03cc61;
    width: 2px;
    height: auto !important;
}
.logo{
    width: 139px;
    height: 25px;
}
.logo-title{
    font-size: 1.5em; 
    padding-left: 5px;
}

.layout{
    position: absolute;
    top: 0;
    right: 40px;
}

@media screen and (max-width: 768px) {
    .logo{
        width: 105px;
        height: 25px;
    }
  }